
.slide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 101;
    background-image: url(../assets/chapters_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 3s ease-in-out;
}

.slide.visible {
    visibility: visible;
    opacity: 1;
}

.narration{
    width: 1000px;
    height: 480px;
    margin-top: 45px;
    margin-left: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    cursor: default;
}

.narration h1{
    color: black;
    font-size: 112px;
}
.narration p{
    font-size: 48px;
    color: black;
}

.text-1{
    position: absolute;
    z-index: 109;
    opacity: 0;
    width: 1000px;
    height: 480px;
    padding: 50px;
    visibility: hidden;
    transition: 1.5s ease-in;
}
.text-2{
    position: absolute;
    z-index: 108;
    opacity: 0;
    width: 1000px;
    height: 480px;
    padding: 50px;
    visibility: hidden;
    transition: 3s ease-in;
}

.title{
    position: absolute;
    z-index: 110;
    opacity: 0;
    visibility: hidden;
    transition: 1.5s ease-in-out;
}
.text-1.active{
    opacity: 1;
    visibility: visible;
}

.text-2.active{
    opacity: 1;
    visibility: visible;
}
.title.active{
    opacity: 1;
    visibility: visible;
}
.next-btn-1.active{
    opacity: 1;   
    visibility: visible;
}
.next-btn-2.active{
    opacity: 1;
    visibility: visible;
}
.end-btn.active{
    opacity: 1;
    visibility: visible;
}
.next-btn-1{
    position: absolute;
    opacity: 0;
    z-index: 110;
    cursor: pointer;
    visibility: hidden;
}
.next-btn-2{
    position: absolute;
    opacity: 0;
    z-index: 109;
    cursor: pointer;
    visibility: hidden;
}
.end-btn{
    position: absolute;
    opacity: 0;
    z-index: 108;
    cursor: pointer;
    visibility: hidden;
}
.slide-btn{
    margin-left: 1047px;
    width: 128px;
    height: 48px;
}
.slide-btn button{
    width: 128px;
    height: 48px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 32px;
    text-decoration: underline;
}
#nextLevelButton{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 150;
    background-image: url(../assets/chapters_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 3s ease-out;
}