
@font-face{
    font-family: 'VT323';
    src: url(../assets/fonts/vt323-regular-webfont.woff), format('woff'),
    url(../assets/fonts/vt323-regular-webfont.woff2), format('woff2');
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'VT323';
  }

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/chapter_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-bg{
    position: relative;
    width: 960px;
    height: 540px;
    background-image: url(../assets/story_main.png);
    background-repeat: no-repeat;
    background-size: cover
}
.back-bg{
    position: absolute;
    z-index: -10;
    width: 990px;
    height: 570px;
    border: 15px solid #111111;
}


.hover-img {
    position: absolute;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */  
}
#hud-container{
margin-top: 15px;
width: 890px;
margin-left: 100px;
font-size: 21px;
}
#hud-container h1{
    font-size: 24px;
    margin-left: -70px;
}
.completed-mission{
    text-decoration: line-through;
    text-decoration-color: yellow; 
}
/* Define visibility on hover */
.hover-img:hover {
    opacity: 1; /* Visible on hover */
}




.boardBig{
    position: absolute;
    transform: scale(0);
    width: 960px;
    height: 540px;
    background-image: url(../assets/schemaboard.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    z-index: 20;
}
.overlay{
    position: absolute;
    transform: scale(0);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
}
.overlay.active{
    transform: scale(1);
}
.boardBig.active{
    transform: scale(1);
}
.boardBig .close {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 32px;
    right: 32px;
    padding: 0 15px 15px 15px;
    background-color: transparent;
}
.boardBig .close h1{
    color: #130900;
    font-size: 48px;
    cursor: pointer;
}
.boardPop{
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 100%;
}


/* COMPUTER BIG */
.computerBig{
    position: absolute;
    transform: scale(0);
    width: 960px;
    height: 540px;
    background-image: url(../assets/computerbig.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 20;
    padding-left:16px;

}
.computerBig .computerInside{
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    width: 930px;
    height: 479px;
    margin-top: 15px;
    margin-right: 6px;
    -ms-overflow-style: none;
}
#tableContainer{
    margin-left: 21px;
    max-width: 850px;
    font-size: 20px;
}
#tableContainer table{
    border-collapse: collapse;
    border-color: #130900;
}
#tableContainer th, #tableContainer td {
    padding: 8px;
    text-align: left;
    padding-left: 10px; /* Add padding to the left */
}

.computerBig .computerInside::-webkit-scrollbar{
    display: none;
}
.computerBig.active{
    transform: scale(1);
}
.computerBig .close{
    position: fixed;
    width: 90px;
    height: 35px;
    bottom: 5px;
    right: 15px;
    background-color: #130900;
}
.computerBig .close h1{
    color: #fff5c1;
    font-size: 27px;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 3px;
}

textarea::placeholder{
    color: #ffa400;
}
.computerPop{
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.level{
    margin-top: 20px;
}
.level textarea {
    display: block;
    width: 890px; /* Adjust the width as needed */
    height: 55px; /* Adjust the height as needed */
    margin: 0 auto;
    font-size: 30px;
    font-weight: 100;
    background-color: transparent;
    display: flex; /* Use flexbox */
    align-items: flex-start;
    border: none; /* Adding a border for visual distinction */
    padding: 10px; /* Adding padding for better readability */
    resize: none;
    overflow: hidden;
    outline: none;
    /*color: #130900; */
}

.level .exc-btn{
    margin-top: 10px;
    margin-bottom: 10px;    
    display: flex;
    justify-content: center;
}

.exc-btn button {
    width: 100px;
    height: 30px;
    margin: 0 5px; /* Adjust the margin between the buttons */
}

/* FOR BOOK */
.bookBig{
    position: absolute;
    transform: scale(0);
    width: 960px;
    height: 540px;
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
    background-color: transparent;
    border: none;
    z-index: 20;
    overflow: hidden;
}

.bookBig img {
    width: 384px;
    height: 512px;
    border-radius: 16px;
    position: absolute;
left: 288px;
    user-select: none;
    transition-property: transform, opacity, zIndex, ; 
    transition-duration: 0.3s; 
    transition-timing-function: ease-out; 
  }
  .arrows {
    width: 588px;
    height: auto;
   display: flex;
   justify-content: space-between;
    z-index: 9999;
  }
  .arrows button {
    width: 60px;
    height: 60px;
    position: relative;
    opacity: 0.8;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .next{
    background-image: url(../assets/next.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .prev{
    background-image: url(../assets/prev.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .arrows button:active {
    transform: scale(0.9);
    opacity: 1;
    transition-property: transform, opacity; 
    transition-duration: 0.3s; 
    transition-timing-function: ease-out; 
  }
.bookBig.active{
    transform: scale(1);
}
.bookBig .close {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    right: 0;
    background-color: transparent;
}
.bookBig .close h1{
    color: #fff5c1;
    font-size: 48px;
    cursor: pointer;
}
.bookPop{
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

/* FOR RIDDLES */
.riddleBig{
    position: absolute;
    transform: scale(0);
    width: 350px;
    height: 500px;
    top: 75px;
    left: 508px;
    background-image: url(../assets/riddleContent.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 20;
}

.riddleBig.active{
transform: scale(1);
}
.riddleContent{
    width: 350px;
    height: 500px;
    padding: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}
.flower{
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url(../assets/flower.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.riddleContent h1{
    white-space: pre-line;
}
.riddleBig .close{
    position: fixed;
    width: 35px;
    height: 35px;
    top: 12px;
    right: 12px;
    background-color: transparent;
    }
    
    .riddleBig .close h1{
        color: #130900;
        font-size: 27px;
        cursor: pointer;
        padding-left: 10px;
    
    }
.riddlePop{
border: none;
cursor: pointer;
background-color: transparent;
width: 100%;
height: 100%;
}

/* FOR TUTORIAL */
.tutorialBig{
position: absolute;
transform: scale(0);
width: 350px;
height: 500px;
top: 75px;
left: 508px;
background-image: url(../assets/tutorialBig.png);
background-repeat: no-repeat;
background-size: cover;
z-index: 20;
}

.tutorialBig.active{
transform: scale(1);
}
.tutorialBig .close{
position: fixed;
width: 35px;
height: 35px;
top: 12px;
right: 12px;
background-color: transparent;
}

.tutorialBig .close h1{
    color: #130900;
    font-size: 27px;
    cursor: pointer;
    padding-left: 10px;

}

.tutorialPop{
border: none;
cursor: pointer;
background-color: transparent;
width: 100%;
height: 100%;
}
.cheatsheet{
text-align: justify;
    text-align: left;
    position: absolute;
    top: -8px;
    padding-right: 18px;
    margin: 18px;
    width: 290px;
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: context-menu;
}
.cheatsheet h3{
    font-size: 1.8em;
    color: #321900;
}
.cheatsheet p{
    font-size: 1.25em;
}
.cheatsheet em{
    color: #ffbc2e;
}
.cheatsheet strong{
    color: #ffa400;
}
.cheatsheet hr{
    border-color: #130900;
}

.cheatsheet::-webkit-scrollbar{
    display: none;
}

/* FOR NEWSPAPER */
.newspaperBig::-webkit-scrollbar {
    background-color: transparent;
    width: 5px; /* Adjust the width as needed */
}

.newspaperBig::-webkit-scrollbar-thumb {
    background-color: #fff5c1; /* Set the color of the scrollbar thumb */
    border-radius: 1px; 
    height: 20px;
/* Optional: Add rounded corners to the scrollbar thumb */
}

.newspaperBig::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the scrollbar track */
}

.newspaperBig{
position: absolute;
transform: scale(0);
width: 960px;
height: 540px;
background-color: transparent;
z-index: 20;
overflow-y: auto;
overflow-x: hidden;
}

.newspaperBig.active{
transform: scale(1);
}
.newspaperBig .close{
    position: fixed;
    width: 35px;
    height: 35px;
    top: 12px;
    right: 12px;
    background-color: transparent;
    }
    
    .newspaperBig .close h1{
        color: #130900;
        font-size: 27px;
        cursor: pointer;
        padding-left: 10px;
        
    }
.header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    background-image: url(../assets/news-header.png);
background-repeat: no-repeat;
background-size: 100% 100%;
  }
  .header h1{
    font-size: 5em;
    color: #111;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: -1px 1px 0 white, -2px 2px 0 #111;
  }
  .header p{
    padding-top: 75px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    bottom: 0;
  }
  
  hr {
    margin-left: 5px;
    border-bottom: 4px solid #111;
    box-shadow: -1px 1px 0 white, -2px 2px 0 #111;
  }
  
  .content {
    position: absolute;
    width: 960px;
    height: 640px;
    -webkit-column-count: 4;
    -webkit-column-gap: 40px;
    -webkit-column-rule: 1px solid #130900;
    -moz-column-count: 4;
    -moz-column-gap: 40px;
    -moz-column-rule: 1px solid #130900;
    column-count: 4;
    column-gap: 40px;
    column-rule: 1px solid #130900b5;
    text-align: justify;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-image: url(../assets/news-content.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .article .image1{
    width: 100%;
    height: 120px;
    border: 1px solid black;
  }
  
  .content h1 {
    margin-top: 0;
    text-align: left;
    
  }
  .article p:first-of-type::first-letter{
    font-size: 5em;
    float: left;
    line-height: 50%;
    margin: 0.1em 0.1em 0.1em -0.05em;
  }
  .article b{
    color: red;
  }
  
.newspaperPop{
border: none;
cursor: pointer;
background-color: transparent;
width: 100%;
height: 100%;
}




/* HOVERS */

#board{
    width: 346px;
    height: 241px;
    top: 20px;
    left: 55px;
    background-image: url(../assets/board.png);
    background-repeat: no-repeat;
    background-size: cover
}
#book{
    width: 145px;
    height: 111px;
    bottom: 138px;
    left: 249px;
    background-image: url(../assets/book.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#newspaper{
    width: 105px;
    height: 129px;
    top: 56px;
    right: 389px;
    background-image: url(../assets/newspaper.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#tutorial{
    width: 57px;
    height: 96px;
    top: 72px;
    right: 158px;
    background-image: url(../assets/tutorial.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#riddles{
    width: 57px;
    height: 97px;
    top: 72px;
    right: 267px;
    background-image: url(../assets/riddles.png);
    background-repeat: no-repeat;
    background-size: cover
}
#computer{
    width: 333px;
    height: 194px;
    bottom: 133px;
    right: 77px;
    background-image: url(../assets/computer.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* SETTINGS */
.settings{
    padding: 30px;
    width: 128px;
    height: 218px;
    position: absolute;
    top: 240px;
    left: 45px;
    background-image: url(../assets/ch_setting.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.credits.ch_cr1{
    width: 128px;
    height: 218px;
    position: absolute;
    top: 240px;
    right: 45px;
    background-image: url(../assets/ch_cr1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.credits.ch_cr2{
    width: 128px;
    height: 218px;
    position: absolute;
    top: 240px;
    right: 45px;
    background-image: url(../assets/ch_cr2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.credits.ch_cr3{
    width: 128px;
    height: 218px;
    position: absolute;
    top: 240px;
    right: 45px;
    background-image: url(../assets/ch_cr3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.credits.ch_cr4{
    width: 128px;
    height: 218px;
    position: absolute;
    top: 240px;
    right: 45px;
    background-image: url(../assets/ch_cr4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.credits.ch_cr5{
    width: 128px;
    height: 218px;
    position: absolute;
    top: 240px;
    right: 45px;
    background-image: url(../assets/ch_cr5.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.connector{
    top: 170px;
    left: 110px;
    right: 110px;
    border: 26px solid #111111;
    position: absolute;
    height:350px;
    z-index: -1;
}
.settings-btn button{
    background-color: transparent;
    outline: none;
    border: none;    margin-bottom: 30px;
    width: 64px;
    height: 64px;
    display: block;
    cursor: pointer;
}
#homeBtn{
    background-image: url(../assets/ch_home.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#homeBtn:hover{
    background-image: url(../assets/ch_home2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.music-btn.inactive{
    background-image: url(../assets/ch_music2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#musicBtn{
background-image: url(../assets/ch_music1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#musicBtn:hover{
    background-image: url(../assets/ch_music3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#clearTable{
    border: none;
    outline: none;
    width: 88px;
    height: 48px;
    background-image: url(../assets/execute2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
#executeBtn1{
    border: none;
    outline: none;
    width: 88px;
    height: 48px;
    background-image: url(../assets/execute1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}















/* KAY KURT */

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    .main-bg {
        width: 1440px;
        height: 810px;
    }
    .back-bg{
        position: absolute;
        z-index: -10;
        width: 1485px;
        height: 855px;
        border: 22.5px solid #111111;
    }
    #hud-container{
        margin-top: 22.5px;
        width: 1335px;
        margin-left: 30px;
        font-size: 27px;
        }
    #board{
        width: 519px;
        height: 361.5px;
        top: 30px;
        left: 82.5px;
    }
    #book{
        width: 217.5px;
        height: 166.5px;
        bottom: 207px;
        left: 373.5px;
    }
    #newspaper{
        width: 157.5px;
        height: 193.5px;
        top: 84px;
        right: 583.5px;
    }
    #tutorial{
        width: 85.5px;
        height: 144px;
        top: 108px;
        right: 237px;
    }
    #riddles{
        width: 85.5px;
        height: 145.5px;
        top: 108px;
        right: 400.5px;
    }
    #computer{
        width: 499.5px;
        height: 291px;
        bottom: 199.5px;
        right: 115.5px;
    }

    /* FOR BIG COMPUTER */
    .computerBig{
        position: absolute;
        transform: scale(0);
        left: 252.5px;
        width: 1440px;
        height: 810px;
        z-index: 20;
        padding-left:24px;
    
    }
    .computerBig .computerInside{
        background-color: transparent;
        overflow-y: auto;
        overflow-x: hidden;
        width: 1395px;
        height: 718.5px;
        margin-top: 22.5px;
        margin-right: 9px;
        -ms-overflow-style: none;
    }
    #tableContainer {
        margin-left: 31.5px;
        max-width: 1200px;
        width: 100%;
        font-size: 27px;
    }
    


    .computerBig .computerInside::-webkit-scrollbar{
        display: none;
    }
    #tableContainer{
        margin-right: 15px;
        margin-left: 30px;
    }
    .computerBig.active{
        transform: scale(1);
    }
    .computerBig .close{
        position: fixed;
        width: 135px;
        height: 52.5px;
        bottom: 7.5px;
        right: 25px;
    }
    
    textarea::placeholder{
        color: #ffa400;
    }
    .computerPop{
        border: none;
        cursor: pointer;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
    .level{
        margin-top: 30px;
    }
    .level textarea {
        display: block;
        width: 1335px; /* Adjust the width as needed */
        height: 82.5px; /* Adjust the height as needed */
        margin: 0 auto;
        font-size: 45px;
        font-weight: 150;
        background-color: transparent;
        display: flex; /* Use flexbox */
        align-items: flex-start;
        border-left: 1px solid black; /* Adding a border for visual distinction */
        padding: 15px; /* Adding padding for better readability */
        resize: none;
        overflow: hidden;
        outline: none;
        color: #130900;
    }
    
    .level .exc-btn{
        margin-top: 15px;
        margin-bottom: 15px;    
        display: flex;
        justify-content: center;
    }
    
    .exc-btn button {
        width: 150px;
        height: 45px;
        margin: 0 7.5px; /* Adjust the margin between the buttons */
    }
    
    .boardBig{
        position: absolute;
        transform: scale(0);
        left: 252.5px;
        width: 1440px;
        height: 810px;
    }

    .boardBig.active{
        transform: scale(1);
    }
    .boardBig .close{
        position: absolute;
        width: 72px;
        height: 72px;
        top: 48px;
        right: 48px;
        padding: 0 22.5px 22.5px 22.5px;
        background-color: transparent;
    }
    .boardBig .close h1{
        font-size: 72px;

    }
    .boardPop{
        border: none;
        cursor: pointer;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }


/* FOR BOOK */
    .bookBig{
        position: absolute;
        transform: scale(0);
        width: 1200px;
        height: 700px;
        top: 120px;
        left: 375px;
        background-color: yellow;
        border: 2px solid white;
        z-index: 20;
    }

    .bookBig.active{
        transform: scale(1);
    }
    .bookBig .close{
        width: 35px;
        height: 35px;
        top: 0;
        right: 0;
        background-color: green;
    }
    .bookPop{
        border: none;
        cursor: pointer;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }

/* FOR RIDDLES */
.riddleBig{
    position: absolute;
    transform: scale(0);
    width: 350px;
    height: 500px;
    top: 75px;
    left: 508px;
    background-image: url(../assets/tutorialBig.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
}

.riddleBig.active{
    transform: scale(1);
}
.riddleBig .close{
    width: 35px;
    height: 35px;
    top: 0;
    right: 0;
    background-color: green;
}
.riddlePop{
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

/* FOR RIDDLES */
.tutorialBig{
    position: absolute;
    transform: scale(0);
    width: 500px;
    height: 700px;
    top: 120px;
    left: 720px;
    background-color: yellow;
    border: 2px solid white;
    z-index: 20;
}

.tutorialBig.active{
    transform: scale(1);
}
.tutorialBig .close{
    width: 35px;
    height: 35px;
    top: 0;
    right: 0;
    background-color: green;
}
.tutorialPop{
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

/* FOR NEWSPAPER */
.newspaperBig{
    position: absolute;
    transform: scale(0);
    width: 600px;
    height: 700px;
    top: 120px;
    left: 690px;
    background-color: yellow;
    border: 2px solid white;
    z-index: 20;
}

.newspaperBig.active{
    transform: scale(1);
}
.newspaperBig .close{
    position: fixed;
    width: 35px;
    height: 35px;
    top: 12px;
    right: 12px;
    background-color: transparent;
    }
    
    .newspaperBig .close h1{
        color: #130900;
        font-size: 27px;
        cursor: pointer;
        padding-left: 10px;
    
    }
.newspaperPop{
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
}
