@font-face{
    font-family: 'VT323';
    src: url(../assets/fonts/vt323-regular-webfont.woff), format('woff'),
    url(../assets/fonts/vt323-regular-webfont.woff2), format('woff2');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323';
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #321900;
}
/* #eee8aa */

.settings{
    border: 2px solid white;
    width: 128px;
    height: 400px;
    position: absolute;
    top: 125px;
    left: 70px;
    margin-right: 30px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 70px;
    margin-left: 120px;
    border: none;

}

.modes{
    cursor: pointer;
    height: 400px;
    width: 241px;
    border: none;
    outline: none;
}

#startStoryMode{
    background-image: url(../assets/story1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#startClassicMode{
    background-image: url(../assets/classic1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#startPracticeMode{
    background-image: url(../assets/practice1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#startStoryMode:hover{
    background-image: url(../assets/story_hover.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#startClassicMode:hover{
    background-image: url(../assets/classic_hover.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#startPracticeMode:hover{
    background-image: url(../assets/practice_hover.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
