@font-face{
    font-family: 'VT323';
    src: url(../assets/fonts/vt323-regular-webfont.woff), format('woff'),
    url(../assets/fonts/vt323-regular-webfont.woff2), format('woff2');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323';
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/try_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* #eee8aa */

.settings{
    padding: 30px;
    width: 128px;
    height: 218px;
    position: absolute;
    top: 240px;
    left: 60px;
    background-image: url(../assets/setting.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.credits{
    padding: 30px;
    width: 128px;
    height: 218px;
    position: absolute;
    top: 240px;
    right: 60px;
    background-image: url(../assets/setting.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.connector{
    top: 170px;
    left: 130px;
    right: 130px;
    border: 26px solid #130900;
    position: absolute;
    height:350px;
    z-index: -1;
}
.settings-btn button{
    background-color: transparent;
    outline: none;
    border: none;    
    margin-bottom: 30px;
    width: 64px;
    height: 64px;
    display: block;
    cursor: pointer;
}
.credits-btn button{
    background-color: transparent;
    outline: none;
    border: none;    
    margin-bottom: 30px;
    width: 64px;
    height: 64px;
    display: block;
    cursor: pointer;
}

#profileBtn{
    background-image: url(../assets/profile1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#profileBtn:hover{
    background-image: url(../assets/profile2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#leaderboardBtn{
    background-image: url(../assets/leaderboard1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#leaderboardBtn:hover{
    background-image: url(../assets/leaderboard2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#logoutBtn{
    background-image: url(../assets/logout1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#logoutBtn:hover{
    background-image: url(../assets/logout2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.music-btn.inactive{
    background-image: url(../assets/music2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.music-btn{
    background-image: url(../assets/music1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#backBtn{
    background-image: url(../assets/back1.png);
        background-repeat: no-repeat;
        background-size: cover;
}
#backBtn:hover{
        background-image: url(../assets/back2.png);
        background-repeat: no-repeat;
        background-size: cover;
}



.mode-title{
    width: 241px;
    height: 98px;
    position: absolute;
    margin-left: 297px;
    margin-top: -542px;  
    background-image: url(../assets/mode.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.chapters-title{
    width: 241px;
    height: 98px;
    position: absolute;
    margin-top: -490px;
    border: none;
    background-image: url(../assets/chapters.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 56.25px;
    padding-left: 62px;
    width: 960px;
    height: 540px;
    margin-bottom: 50px;
    background-image: url(../assets/backdrop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.modes{
    cursor: pointer;
    height: 400px;
    width: 241px;
    border: none;
    outline: none;
}

#startStoryMode{
    background-image: url(../assets/story1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#startClassicMode{
    background-image: url(../assets/classic1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#startPracticeMode{
    background-image: url(../assets/practice1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#startStoryMode:hover{
    background-image: url(../assets/story_hover.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#startClassicMode:hover{
    background-image: url(../assets/classic_hover.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#startPracticeMode:hover{
    background-image: url(../assets/practice_hover.gif);
    background-repeat: no-repeat;
    background-size: cover;
}



/* CHAPTERS */
.cards{
    
    margin-top: 100px;
    align-items: center;
    gap: 56.25px;
    padding-left: 90px;
    width: 960px;
    height: 540px;
    border: none;
    margin-bottom: 50px;
    background-image: url(../assets/backdrop.png);
    background-repeat: no-repeat;
    background-size: cover;

    
}
.first-set, .second-set{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    gap: 90px;
    border: none;
}

.card{
    border:none ;
    width: 200px;
    height: 165px;
    cursor: pointer;
}
.first-set{
    width: 780px;
}
.second-set{
    width: 490px;
    margin-left: 145px;
}

.leaderboardpopup{
    display: flex;
    position: absolute;
    border: none;
    z-index: 50;
    width: 960px;
    height: 620px;
    top: 0;
    left: 199px;
    visibility: hidden;
}
.leaderboardpopup.active{
    visibility: visible;
}
.leaderboardnames{ 
    position: absolute;
    height: 620px;
    background-color: #ffd262;
    margin: 0;
    width: 896px;
    overflow-y: auto;
    overflow-x: hidden;
}
.leaderboardnames::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the scrollbar track */
}
.leaderboardnames::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.leaderboardnames::-webkit-scrollbar-thumb {
    background-color: #ffa400; /* Set the color of the scrollbar thumb */
    border-radius: 10px; 
    height: 30px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    transform: scale(0);
}
.overlay.active{
    transform: scale(1);
}
.profilepopup{
    display: flex;
    position: absolute;
    border: none;
    z-index: 50;
    width: 960px;
    height: 620px;
    top: 0;
    left: 199px;
    visibility: hidden;
    border:none;
}
.profilepopup.active{
    visibility: visible;
}
.firstside{ 
    margin: 0;
    width: 896px;
}
.character-profile{
    position: absolute;
    z-index: 30;
    margin: 0;
    width: 896px;
    height: 100%;
    border: none;
    background-image: url(../assets/profile-id.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    visibility: hidden;
}
.character-profile.active{
    visibility: visible;
}

.dbcoinsleft{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 128px;
    height: 32px;
    top: 20px;
    left: 20px;
}
.coin-img{
    width: 32px;
    height: 32px;
    background-image: url(../assets/coin.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 10px;
}
#dbcoins{
    
    height: 32px;
    padding: 0;
    font-size: 35px;
}

.shop-popup{
    width: 896px;
    height: 620px;
    border: 1px solid #130900;
    background-color: #ffd262;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    z-index: 10;
}
.shop-popup::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the scrollbar track */
}
.shop-popup::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.shop-popup::-webkit-scrollbar-thumb {
    background-color: #ffa400; /* Set the color of the scrollbar thumb */
    border-radius: 10px; 
    height: 30px;
/* Optional: Add rounded corners to the scrollbar thumb */
}
.shop-popup.active{
    visibility: visible;
}
.shop-grid{
    position: absolute;
    top: 116px;
    padding: 20px;
    width: 896px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.shop-card{
    width: 199px;
    height: 298.5px;
    border: none;
    display: block;
    padding-top: 25px;
    background-color: transparent;
    background-image: url(../assets/shop-card.png);
    background-size: 100% 100%;
    text-align: center;
}
.shop-card.purchased{
    opacity: 0.5; 
}
.shop-card img{
    width: 150px;
    height: auto;
    border: #130900;
}
.buyBtn{
    margin-top: 24px;
    width: 96px;
    height: 32px;
    cursor: pointer;
}

.inventory-popup{
    width: 896px;
    height: 620px;
    border: 1px solid #130900;
    background-color: #ffd262;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    z-index: 20;
}
.inventory-popup.active{
    visibility: visible;
}
.inventory-grid{
    position: absolute;
    top: 116px;
    padding: 20px;
    width: 896px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.inventory-grid img{
    width: 199px;
    height: 199px;
    border: 1px solid #130900;
    display: block;
}
.inventory-card{
    width: 199px;
    height: 298.5px;
    border: none;
    display: block;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: transparent;
    background-image: url(../assets/shop-card.png);
    background-size: 100% 100%;
    text-align: center;
}
.inventory-card img{
    width: 150px;
    height: auto;
    border: #130900;
}
.inventory-card.greyed-out{
    opacity: 0.5;
}
.useBtn{
    margin-top: 32px;
    width: 96px;
    height: 32px;
    cursor: pointer;
}
.inventory-popup::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the scrollbar track */
}
.inventory-popup::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.inventory-popup::-webkit-scrollbar-thumb {
    background-color: #ffa400; /* Set the color of the scrollbar thumb */
    border-radius: 10px; 
    height: 30px;
/* Optional: Add rounded corners to the scrollbar thumb */
}
.inventory-title{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 896px;
    height: 96px;
    background-color: transparent;
    background-image: url(../assets/inventorytitle.png);
    background-size: 100% 100%
}
.shop-title{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 896px;
    height: 96px;
    background-color: transparent;
    background-image: url(../assets/shoptitle.png);
    background-size: 100% 100%
}
.leaderboard-title{
    position: absolute;
    margin-top: 10px;
    width: 896px;
    height: 96px;
    background-color: transparent;
    background-image: url(../assets/learboardtitle.png);
    background-size: 100% 100%
}
.highscore-title{
    position: absolute;
    margin-top: 116px;
    margin-bottom: 20px;
    width: 896px;
    height: 96px;
    background-color: transparent;
    background-image: url(../assets/highscoretitle.png);
    background-size: 100% 100%
}
.leaderboards{
    position: absolute;
    width: 896px;
    top: 192px;
}
.leaderboards table{
    width: 896px;
    border-collapse: collapse;
    cursor: default;
}
.leaderboards th{
    text-align: left;
    background-color: #ffa400;
    padding-left: 128px;
    border-bottom: 1px solid #130900;
}
.leaderboards td{
    text-align: left;
    padding-left: 128px;
    border-bottom: 1px solid #130900;
}
.leaderboards tr:hover td{
    background-color: rgba(255, 164, 0, 0.3);
}
.leaderboards tr{
    font-size: 35px;    
}
table tr td:first-child,
table tr th:first-child {
    padding-left: 50px;
    width: 50px; /* Example width, change it according to your preference */
}
table tr td:first-child {
    text-align: center;
}
table tr th:nth-child(2) {
    text-align: center;
}





.profile-frame{
    left: 156px;
    top: 259px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    width: 230px;
    padding: 11px 12px 12px 12px;
}

.profile-picture{
    height: 206px;
    width: 206px;
    background-color: transparent;
   
    background-size: 100% 100%;
    border: none;
}
.profile-codename{
    border: none;
    position: absolute;
    height: 41px;
    width: 310px;
    top: 358px;
    left: 415px;
    text-align: center; /* Center the text horizontally */
    padding-top: 5px 0 5px 0; /* Remove default margin */
    display: flex;
    justify-content: center; 
}
.profile-codename h1{
    font-size: 40px;
}
.profile-date-issued{
    border: none;
    position: absolute;
    height: 41px;
    width: 310px;
    top: 477px;
    left: 415px;
    text-align: center; /* Center the text horizontally */
    padding-top: 5px 0 5px 0; /* Remove default margin */
    display: flex;
    justify-content: center; 
}
.profile-date-issued h1{
    font-size: 40px;
}

.profile-sidebar{
    padding: 8px;
    width: 64px;
    border-left:3px solid #130900;
    background-color: #ffd262;
}
.leaderboardsidebar{
    position: absolute;
    left: 896px;
    padding: 8px;
    width: 64px;
    height: 620px;
    border-left:3px solid #130900;
    background-color: #ffd262;
}
.profile-btn button{
    outline: none;
    border: none;    
    margin-bottom: 15px;
    width: 45px;
    height: 45px;
    display: block;
    cursor: pointer;
}
#closeProfileBtn{
    background-color: transparent;
    background-image: url(../assets/profile-exit1.png);
    background-size: 100% 100%;
}
#closeProfileBtnLB{
    background-color: transparent;
    background-image: url(../assets/profile-exit1.png);
    background-size: 100% 100%;
}
.profileID
{
    background-color: transparent;
    background-image: url(../assets/profile1.png);
    background-size: 100% 100%;
}
.profileIDEdit{
    background-color: transparent;
    background-image: url(../assets/profile-edit1.png);
    background-size: 100% 100%;
}
.shopID
{
    background-color: transparent;
    background-image: url(../assets/shop1.png);
    background-size: 100% 100%;
}
#closeProfileBtn:hover{
    background-color: transparent;
    background-image: url(../assets/profile-exit2.png);
    background-size: 100% 100%;
}
#closeProfileBtnLB:hover{
    background-color: transparent;
    background-image: url(../assets/profile-exit2.png);
    background-size: 100% 100%;
}
.profileID:hover{
    background-color: transparent;
    background-image: url(../assets/profile2.png);
    background-size: 100% 100%;
}
.profileIDEdit:hover{
    background-color: transparent;
    background-image: url(../assets/profile-edit2.png);
    background-size: 100% 100%;
}
.shopID:hover{
    background-color: transparent;
    background-image: url(../assets/shop2.png);
    background-size: 100% 100%;
}
.profileID.active{
    background-color: transparent;
    background-image: url(../assets/profile2.png);
    background-size: 100% 100%;
}
.profileIDEdit.active{
    background-color: transparent;
    background-image: url(../assets/profile-edit2.png);
    background-size: 100% 100%;
}
.shopID.active{
    background-color: transparent;
    background-image: url(../assets/shop2.png);
    background-size: 100% 100%;
}