@font-face{
    font-family: 'VT323';
    src: url(../assets/fonts/vt323-regular-webfont.woff), format('woff'),
    url(../assets/fonts/vt323-regular-webfont.woff2), format('woff2');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323';
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/try_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* #eee8aa */

.settings{
    padding: 30px;
    width: 128px;
    height: 218px;
    position: absolute;
    top: 240px;
    left: 60px;
    background-image: url(../assets/setting.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.credits{
    width: 128px;
    height: 218px;
    position: absolute;
    top: 240px;
    right: 60px;
    background-image: url(../assets/setting.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.connector{
    top: 170px;
    left: 130px;
    right: 130px;
    border: 26px solid #130900;
    position: absolute;
    height:350px;
    z-index: -1;
}
.settings-btn button{
    background-color: transparent;
    outline: none;
    border: none;    margin-bottom: 30px;
    width: 64px;
    height: 64px;
    display: block;
    cursor: pointer;
}
#logoutBtn{
    background-image: url(../assets/logout1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#logoutBtn:hover{
    background-image: url(../assets/logout2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.music-btn.inactive{
    background-image: url(../assets/music2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#musicBtn{
background-image: url(../assets/music1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#musicBtn:hover{
    background-image: url(../assets/music3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#backBtn{
    background-image: url(../assets/back1.png);
        background-repeat: no-repeat;
        background-size: cover;
}
#backBtn:hover{
        background-image: url(../assets/back2.png);
        background-repeat: no-repeat;
        background-size: cover;
}



.mode-title{
    width: 241px;
    height: 98px;
    position: absolute;
    margin-left: 297px;
    margin-top: -542px;  
    background-image: url(../assets/mode.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.chapters-title{
    width: 241px;
    height: 98px;
    position: absolute;
    margin-top: -490px;
    border: none;
    background-image: url(../assets/chapters.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 56.25px;
    padding-left: 62px;
    width: 960px;
    height: 540px;
    margin-bottom: 50px;
    background-image: url(../assets/backdrop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.modes{
    cursor: pointer;
    height: 400px;
    width: 241px;
    border: none;
    outline: none;
}

#startStoryMode{
    background-image: url(../assets/story1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#startClassicMode{
    background-image: url(../assets/classic1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#startPracticeMode{
    background-image: url(../assets/practice1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#startStoryMode:hover{
    background-image: url(../assets/story_hover.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#startClassicMode:hover{
    background-image: url(../assets/classic_hover.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#startPracticeMode:hover{
    background-image: url(../assets/practice_hover.gif);
    background-repeat: no-repeat;
    background-size: cover;
}



/* CHAPTERS */
.cards{
    
    margin-top: 100px;
    align-items: center;
    gap: 56.25px;
    padding-left: 90px;
    width: 960px;
    height: 540px;
    border: none;
    margin-bottom: 50px;
    background-image: url(../assets/backdrop.png);
    background-repeat: no-repeat;
    background-size: cover;

    
}
.first-set, .second-set{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    gap: 90px;
    border: none;
}

.card{
    border:none ;
    width: 200px;
    height: 165px;
    cursor: pointer;
}
.first-set{
    width: 780px;
}
.second-set{
    width: 490px;
    margin-left: 145px;
}

