
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
body {
    background-color: #090500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../assets/index_bg.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.start{
  padding-top: 25%;
}
.start-img{
    width: 150px;
    height: 72px;
    background-image: url(../assets/start.png);
    background-repeat: no-repeat;
    background-size: cover
}

.start-img:hover{
  background-image: url(../assets/start_hover.png);
  background-repeat: no-repeat;
  background-size: cover
}


@media screen and (min-width: 1367px) and (max-width: 1920px)  {
  .start{
    padding-top: 25%;
  }
  .start-img{
      width: 225px;
      height: 108px;
      background-image: url(../assets/start.png);
      background-repeat: no-repeat;
      background-size: cover
  }
}
