.transition-1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background-color: #090500;
    opacity: 0;
    pointer-events: none;
    transition: 1s ease-out;
}

.transition-1.is-active {
    opacity: 1;
    pointer-events: all;
}


.transition-2 {
    position: fixed;
    top: 0;
    right: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: #090500;
    transition: 1s ease-out;
}

.transition-2.is-active {
    left: 0px;
}

.transition-3 {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: #090500;
    transition: 1s ease-in;
}

.transition-3.is-active {
    right: 0px;
}


.transition-4 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background-color: #090500;
    opacity: 0;
    pointer-events: none;
    transition: 10s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transition-4.is-active {
    opacity: 1;
    pointer-events: all;
}

h1{
    font-size: 70px;
    font-weight: 400;
    color: white;

}